<div class="container" style="height:870px; border:1px solid #800000; color:#800080;">
  <br>
  <div class="row" style="text-align:center">
    <h1>Welcome to Woo-commerce</h1>
    <hr>
  </div>
  <div class="container mt-5" style="text-align:center">
    <h2>You can Buy and Sale Products here</h2><br>

    <a href="/users/new"><h3>Click Here</h3></a>
  </div>
  <div class="container mt-5">
      <div class="row">
          <div class="col-sm-6"><h3>As a Admin</h3></div>
          <div class="col-sm-6">
            <h5>Admin</h5>
            <ul class="list-group">
              <li class="list-group-item">Admin can add Products</li>
              <li class="list-group-item">Admin can manage Products</li>
              <li class="list-group-item">Admin can change Products</li>
              <li class="list-group-item">Admin can update Products</li>
              <li class="list-group-item">Admin can not Buy Products</li>
            </ul>
          </div>
      </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-6"><h3>As a Customer</h3></div>
      <div class="col-sm-6">
        <h5>Customer</h5>
        <ul class="list-group">
          <li class="list-group-item">User can See All Products</li>
          <li class="list-group-item">User can See All detail of Product</li>
          <li class="list-group-item">User can Buy Product</li>
          <li class="list-group-item">User see his/her parchased list</li>
          <li class="list-group-item">User can not Add Products</li>
        </ul>
      </div>
    </div>
  </div>
  
<div>